name = "xray-signal"
main = "src/index.js"
compatibility_date = "2026-08-28"
workers_dev = true

[[routes]]
pattern = "xray-signal.example.com"
custom_domain = true

[[kv_namespaces]]
binding = "ROOMS"
id = "REPLACE_ME"
